.imagePopup {
    border: 0;
    border-radius: 20px;
    background-color: rgba(139, 90, 43, 1);
    box-shadow: 0px 10px 70px 20px rgba(210,173,128, 1);
    width: 80%;
    height: fit-content;
    max-width: 90vh;
    max-height: 90vh;

    overflow: hidden;
}

.imagePopup img {
    border-radius: 20px;
    max-width: 100%;
    max-height: 60vh;
    box-shadow: 0px 10px 20px 13px rgba(0, 0, 0, 0.1);
}

.popup_content {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.imagePopup header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(139, 90, 43, 1);
    padding: 0 20px;
}

.imagePopup nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}

.imagePopup button {
    background-color: rgba(210,173,128, 1);
    border: none;
    border-radius: 20px;
    font-size: 1.5rem;
    padding: 0.1em 0.5em;
    cursor: pointer;
}

.imagePopup button:hover {
    background-color: rgba(122, 139, 111, 1);
    box-shadow: 0px 0px 30px 0px rgba(210,173,128, 1);
}

.imageNumber {
    font-size: 24px;
}
