footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(210,173,128,1);
    width: 200%;
    transform: translateX(-25%);
    height: 128px;
    border-radius: 50% 50% 0 0;
}

footer_container {
    max-width: 1200px;
    display: flex;
    align-items: center;
}