@media screen and (max-width: 550px) {
    
    h1 {
        font-size: 40px;
    }

}

@media screen and (max-width: 390px) {
    
    h1 {
        font-size: 30px;
    }

}

@media screen and (max-width: 370px) {
    
    .thumb img {
        width: 250px;
        height: 250px;
    }

}