/* @media screen and (min-width: 1440px) {
    
    header {
        padding: 0px max(120px, calc(50% - 720px));
    }

    main {
        padding: 160px max(120px, calc(50% - 720px));
    }

    footer {
        padding: 30px max(120px, calc(50% - 720px));
    }
} */