@media screen and (max-width: 550px) {
    
    h1 {
        font-size: 40px;
    }

        .navText {
        display: none;
    }


}

@media screen and (max-width: 390px) {
    
    h1 {
        font-size: 30px;
    }

    .imgTitle {
        font-size: 1.2em;
    }

}

@media screen and (max-width: 370px) {
    
    .thumb img {
        width: 250px;
        height: 250px;
    }

}