* {
    margin: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
    font-family: 'Figtree';
}

h1 {
    text-align: center;
    font-size: 56px;
    color: white;
    margin-bottom: 160px;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(6, 23, 30, 1);
    gap: 160px;
    padding: 160px 0;
}

.content {
    display: flex;
    flex-direction: column;
    width: 1200px;
    height: auto;
}

.thumbnails {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
}

.thumb {
    width: 150px;
    height: 150px;
    border: 2px;
    border-color: rgba(18, 70, 88, 1);
    border-radius: 16px;
}

.thumb:hover {
    border-color: rgba(107, 193, 225, 1);
}